body::-webkit-scrollbar {
  display: none;
}

.posts-wrapper:has(.active) {
  position: absolute;
  top: 0;
  overflow: hidden;
  .single-post .content-block {
    animation-name: transopac;
    animation-duration: 0.7s;
    animation-delay: 0;
    animation-fill-mode: forwards;
  }
  .single-post .image-block:not(.active) {
    animation-name: transopac;
    animation-duration: 0.7s;
    animation-delay: 0;
    animation-fill-mode: forwards;
  }
}

.single-post {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 30px 0;
  width: 100%;
  & > div {
    display: flex;
    padding: 50px;
    width: 50vw;
    transition: all 0.5s ease;
  }
  .content-block {
    width: 50%;
    transition: all 0.5s ease;
    flex-direction: column;
    transition: all 0.5s ease;
    button {
      margin-top: 30px;
    }
  }
  .image-block {
    height: 300px;
    width: 50%;
    background-size: cover;
    background-position: center;
    min-height: 600px;
    transition: all 0.5s ease;
  }

  &.active {
    background-color: white;
    // transition-property: top;
    // transition-timing-function: linear;
    // transition-duration: 0s;
    // transition-delay: 2.5s;
    // position: fixed;
    // top: 0;
    // left: 0;
    // transition: all 1s linear;
    // height: 100vh;
    .content-block * {
      animation-name: transopac;
      animation-duration: 0.7s;
      animation-delay: 0;
      animation-fill-mode: forwards;
    }

    .image-block {
      transition-property: height;
      transition-timing-function: ease-in;
      transition-duration: 0.7s;
      transition-delay: 0.8s;
      height: 100vh;
      right: 0;
      animation-name: transleft;
      animation-duration: 0.8s;
      animation-delay: 1.8s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes transopac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes transleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes transheight {
  from {
    height: auto;
  }
  to {
    height: 100vh; /* your line height here */
  }
}
