@import "../../tokens.scss";

header {
  display: flex;
  background: $color-white-01;
  justify-content: space-between;
  // border-bottom: 10px solid var(--qwik-dark-purple);
  border: 0;
  .intuit-logo {
    height: 61px;
    width: 60px;
    margin-right: 50px;
  }
}

.global-nav {
  display: flex;
  justify-content: space-between;
  ul {
    li {
      font-size: 16px;
      font-weight: 600;
      color: $color-blue-rw-dark;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
      
      &:hover {
        color: $color-green-01;
        text-decoration: none;
        font-style: normal;
      }

      a {
        display: flex;
        justify-content: center;
        align-items:  center;
        svg {
          transition: all .3s;
          margin-left: 10px;
          position: relative;
          top: 2px;
        }

        &:hover {
          svg {
            transform: rotate(180deg);
            transition: all .3s;
          }
        }
        &.boxed {
          border: 2px solid $color-blue-rw-dark;
          padding: 6px 24px;
          border-radius: 4px;
        }
      }
    }
  }
}

// header ul {
//   margin: 0;
//   padding: 3px 10px 0 0;
//   list-style: none;
//   flex: 1;
//   text-align: right;
// }

// header li {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
// }

// header li a {
//   display: inline-block;
//   padding: 15px 10px;
//   text-decoration: none;
// }

// header li a:hover {
//   text-decoration: underline;
// }
